name: Release zflist
on: push

jobs:
  release:
    name: Release zflist
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@master
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git libsnappy-dev libz-dev \
            libtar-dev libb2-dev autoconf libtool libjansson-dev \
            libhiredis-dev libsqlite3-dev libssl-dev
    
    - name: Clone capnp-c
      working-directory: 
      run: |
        git clone https://github.com/opensourcerouting/c-capnproto
        cd ./c-capnproto
        git submodule update --init --recursive

    - name: Configure capnp-c
      working-directory: ./c-capnproto
      run: |
        autoreconf -f -i -s
        ./configure

    - name: Build capnp-c
      working-directory: ./c-capnproto
      run: |
        make -j 3
        sudo make install
        sudo ldconfig

    - name: Clone libcurl
      run: |
        git clone --depth=1 -b curl-7_62_0 https://github.com/curl/curl

    - name: Configure libcurl
      working-directory: ./curl
      run: |
        autoreconf -f -i -s
        ./configure --disable-debug --enable-optimize --disable-curldebug --disable-symbol-hiding --disable-rt \
          --disable-ftp --disable-ldap --disable-ldaps --disable-rtsp --disable-proxy --disable-dict \
          --disable-telnet --disable-tftp --disable-pop3 --disable-imap --disable-smb --disable-smtp --disable-gopher \
          --disable-manual --disable-libcurl-option --disable-sspi --disable-ntlm-wb --without-brotli --without-librtmp --without-winidn \
          --disable-threaded-resolver \
          --with-openssl

    - name: Build libcurl
      working-directory: ./curl
      run: |
        make -j 3
        sudo make install
        sudo ldconfig
 
    - name: Build libflist
      working-directory: ${{ github.workspace }}/libflist
      run: |
        make
 
    - name: Build zflist binary
      working-directory: ${{ github.workspace }}/zflist
      run: |
        make production
        cp zflist /tmp/zflist
        strip -s /tmp/zflist
 
    - name: Publish to the hub
      run: |
        md5sum /tmp/zflist
 
